<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
